<div class="container" style="margin: 50px auto;">
    <div class="row">
    <div class="pull-left" style="margin-bottom: 20px;">
        <%= image_tag "logo.png", :style => 'width: 200px' %>
        <h1 style='margin-left:15px;'>Fact #<%= @fact.number %></h1>
    </div>
    <div class="pull-left">
        <small><%= @fact.udate %></small>
        <p>
          <blockquote>W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly revi</blockquote>
        </p>
    </div>
    </div>
    <div class="pull-right">
        <h5>
        <%= link_to 'Prev', edit_fact_path(@fact), :class => 'btn btn-link' %> |
        <%= link_to 'Random', facts_path, :class => 'btn btn-link' %> | 
        <%= link_to 'Next', facts_path, :class => 'btn btn-link' %>
        </h5>
    </div>
</div>
